<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteName" verbose="1">
    <suite-files>
        <suite-file path="mainTest.xml"/>
        <suite-file path="rusLangNotContains.xml"/>
        <suite-file path="invalidDataSearchTest.xml"/>
    </suite-files>
</suite>
