<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteName" verbose="1" parallel="tests" thread-count="3">


    <test name="testSearchRequest" verbose="1">
        <classes>
            <class name="MainTest">
                <methods>
                    <include name="testMethod"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="invalidDataSearchTest" verbose="1" >
        <classes>
            <class name="InvalidDataSearchTest">
                <methods>
                    <include name="testMethod"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="rusLangNotContainsOnBlock"  verbose="1">
        <classes>
            <class name="RusLangNotContains">
            </class>
        </classes>
    </test>
</suite>
